extend _layout.pug
mixin carouselNoPc(no)
  if(no===0)
    li.active(data-target='#carouselPc', data-slide-to=no)
  else
    li(data-target='#carouselPc', data-slide-to=no)

mixin carouselNoPhone(no)
  if(no===0)
    li.active(data-target='#carouselPhone', data-slide-to=no)
  else
    li(data-target='#carouselPhone', data-slide-to=no)

mixin carouselInner(no,url,name)
  if(no===0)
    .carousel-item.active(style="height:100%; position: relative")
      img.d-block.w-100(src=url, alt=name)
      .carousel-caption.d-none.d-lg-block(style="background: rgba(0,0,0,.4); width:100%; position: absoulate; left:0")
        h5 #{name}
  else
    .carousel-item(style="height:100%; position: relative")
      img.d-block.w-100(src=url, alt=name)
      .carousel-caption.d-none.d-lg-block(style="background: rgba(0,0,0,.4); width:100%; position: absoulate; left:0")
        h5 #{name}

block navbar
  - var path='activity.html'
  include partials/_navbar.pug

block carousel
  #carouselPc.carousel.slide(data-ride='carousel').d-none.d-md-block
    ol.carousel-indicators
      each item in carousel.list
        +carouselNoPc(item.no)
    .carousel-inner
      each item in carousel.list
        +carouselInner(item.no,item.urlPc,item.name)
    a.carousel-control-prev(href='#carouselPc', role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselPc', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
  #carouselPhone.carousel.slide(data-ride='carousel').d-md-none
    ol.carousel-indicators
      each item in carousel.list
        +carouselNoPhone(item.no)
    .carousel-inner
      each item in carousel.list
        +carouselInner(item.no,item.urlPhone,item.name)
    a.carousel-control-prev(href='#carouselPhone', role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselPhone', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next

block content
  section.famous-activity.py-5
    .container
      .row
        .col.text-center.mb-3
          h2.text-secondary.heading 著名活動
      .row
        .col-lg-4.text-center.align-self-center
          a(href="#")
            img(src="images/collapse-1-1.jpg", alt="" class="img-fluid" id="collapse-item-1")
        .col-lg-4
          #accordion.famous-accordion
            .card
              .card-header.p-5
                button(type="button" class="btn btn-block btn-primary" data-toggle="collapse" data-target="#collapseOne" id="button-1") 福隆國際沙雕藝術季
              .collapse#collapseOne(data-parent="#accordion").show
                .card-body
                  .card
                    img(src="images/collapse-1.jpg", alt="福隆國際沙雕藝術季" class="card-img-top img-fluid")
                    .card-body
                      p.card-text.text-secondary 沙雕是一項融合雕塑、文化、繪畫、建築、體育、娛樂於一體的當代國際藝術，具有獨特的震撼性、真實性、參與性、環保性…等特點，儼然成為一項極具吸引力的旅遊特色。臺灣擁有相當豐富的觀光資源，由北至南有許多著名的沙灘景點，如福隆、翡翠灣、沙崙、墾丁、崎頂、杉原等海水浴場，尤其以東北角鹽寮至福隆一帶，綿延三公里長的黃金沙灘，砂質屬石英沙、柔軟白細、觸感甚佳，和水後可塑性佳、易膠著，被世界沙雕協會鑑定為臺灣最適合沙雕的場所。
                      a(href="#").btn.btn-outline-primary.btn-block 更多資訊
            .card
              .card-header.p-5
                button(type="button" class="btn btn-block btn-primary" data-toggle="collapse" data-target="#collapseTwo" id="button-2") 澎湖海上花火節
              .collapse#collapseTwo(data-parent="#accordion")
                .card-body
                  .card
                    img(src="images/collapse-2.jpg", alt="澎湖海上花火節" class="card-img-top img-fluid")
                    .card-body
                      p.card-text.text-secondary 本活動緣起於2002年5月一場發生於澎湖外海的「華航空難」重創了澎湖的觀光產業，使得該年度遊客人數銳減。澎湖縣政府為提振觀光，該年與華航合作於農曆七夕在漁人碼頭舉辦「千萬風情在菊島」活動，除了華航空姐與空少變裝演出，首次在澎湖呈現精彩的高空煙火秀，將入夜的澎湖點綴得愈夜愈美，成功獲得好評，以絢爛的花火昭告世人澎湖仍然勇敢活力且充滿生機。隔年（2003）澎湖縣政府再與多家航空公司、船運公司及民間業者共同配合辦理，並將活動地點移至觀音亭舉行，這是花火節首次在觀音亭登場。至2004年澎湖縣政府擴大規模舉辦「澎湖海上花火節」，至今已成為澎湖縣最具代表性之大型觀光活動，在國內外已累積相當高的知名度，每年總會吸引許多國內外遊客蒞臨澎湖參與盛會，為夏季菊島夜空裡，最令人引頸期盼的璀璨盛宴。
                      a(href="#").btn.btn-outline-primary.btn-block 更多資訊
                            .col-lg-4
            .card
              .card-header.p-5
                button(type="button" class="btn btn-block btn-primary" data-toggle="collapse" data-target="#collapseThree" id="button-3") 台北國際書展
              .collapse#collapseThree(data-parent="#accordion")
                .card-body
                  .card
                    img(src="images/collapse-3.jpg", alt="" class="card-img-top img-fluid")
                    .card-body
                      p.card-text.text-secondary 本活動緣起於2002年5月一場發生於澎湖外海的「華航空難」重創了澎湖的觀光產業，使得該年度遊客人數銳減。澎湖縣政府為提振觀光，該年與華航合作於農曆七夕在漁人碼頭舉辦「千萬風情在菊島」活動，除了華航空姐與空少變裝演出，首次在澎湖呈現精彩的高空煙火秀，將入夜的澎湖點綴得愈夜愈美，成功獲得好評，以絢爛的花火昭告世人澎湖仍然勇敢活力且充滿生機。隔年（2003）澎湖縣政府再與多家航空公司、船運公司及民間業者共同配合辦理，並將活動地點移至觀音亭舉行，這是花火節首次在觀音亭登場。至2004年澎湖縣政府擴大規模舉辦「澎湖海上花火節」，至今已成為澎湖縣最具代表性之大型觀光活動，在國內外已累積相當高的知名度，每年總會吸引許多國內外遊客蒞臨澎湖參與盛會，為夏季菊島夜空裡，最令人引頸期盼的璀璨盛宴。
                      a(href="#").btn.btn-outline-primary.btn-block 更多資訊
          .my-3
            a(href="#" class="btn btn-outline-primary btn-block") 更多活動
        .col-lg-4.text-center.align-self-center
          a(href="#")
            img(src="images/collapse-1-2.jpg", alt="" class="img-fluid" id="collapse-item-2")
            
  section.gallery.py-5
    .container
      .row
        .col.text-center.mb-3
          h2.text-secondary.heading 活動類型
      .row.align-items-end.first-row
        .col-lg-3.col-sm-6.col-10.mx-auto.mb-3
          a(href="images/activity-1.jpg" data-lightbox="activity" data-title="玩水")
            img(src="images/activity-1.jpg", alt="activity-1", class="img-thumbnail gallery-img")
        .col-lg-3.col-sm-6.col-10.mx-auto.mb-3
          a(href="images/activity-2.jpg" data-lightbox="activity" data-title="演唱會")
            img(src="images/activity-2.jpg", alt="activity-2", class="img-thumbnail gallery-img")
        .col-lg-3.col-sm-6.col-10.mx-auto.mb-3
          a(href="images/activity-3.jpg" data-lightbox="activity" data-title="熱氣球")
            img(src="images/activity-3.jpg", alt="activity-3", class="img-thumbnail gallery-img")
        .col-lg-3.col-sm-6.col-10.mx-auto.mb-3
          a(href="images/activity-4.jpg" data-lightbox="activity" data-title="玩球")
            img(src="images/activity-4.jpg", alt="activity-4", class="img-thumbnail gallery-img")
      .row.align-items-end.second-row
        .col-lg-3.col-sm-6.col-10.mx-auto.mb-3
          a(href="images/activity-5.jpg" data-lightbox="activity" data-title="放鬆")
            img(src="images/activity-5.jpg", alt="activity-5", class="img-thumbnail gallery-img")
        .col-lg-3.col-sm-6.col-10.mx-auto.mb-3
          a(href="images/activity-6.jpg" data-lightbox="activity" data-title="彈奏")
            img(src="images/activity-6.jpg", alt="activity-6", class="img-thumbnail gallery-img")
        .col-lg-3.col-sm-6.col-10.mx-auto.mb-3
          a(href="images/activity-7.jpg" data-lightbox="activity" data-title="登山")
            img(src="images/activity-7.jpg", alt="activity-7", class="img-thumbnail gallery-img")
        .col-lg-3.col-sm-6.col-10.mx-auto.mb-3
          a(href="images/activity-8.jpg" data-lightbox="activity" data-title="划船")
            img(src="images/activity-8.jpg", alt="activity-8", class="img-thumbnail gallery-img")

