extend _layout.pug

mixin spot(Picture1,Picdescribe1,Name,Add,Description,Changetime)
  if(Picture1==='')
    .col-md-6.col-lg-4.col-xl-3.d-none
      .card-deck.mb-3
        .card
          img.card-img-top(src= Picture1, alt=Picdescribe1)
          .card-body
            h5.card-title.text-info #{Name}
            h6.card-text.text-info #{Add}
            p.card-text.text-secondary
              | #{Description}
          .card-footer
            small.text-muted #{Changetime}
  else
    .col-md-6.col-lg-4.col-xl-3
      .card-deck.mb-3
        .card
          img.card-img-top(src= Picture1, alt=Picdescribe1)
          .card-body
            h5.card-title.text-info #{Name}
            h6.card-text.text-info #{Add}
            p.card-text.text-secondary
              | #{Description}
          .card-footer
            small.text-muted #{Changetime}


block navbar
  - var path='newtaipei.html'
  include partials/_navbar.pug
  
block content
  .container
    .row.pt-3
      each item in newtaipeiData
        +spot(item.Picture1,item.Picdescribe1,item.Name,item.Add,item.Description,item.Changetime)

